{
	"branches": ["main"],
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		[
			"@semantic-release/exec",
			{
				"prepareCmd": "./.release.sh ${nextRelease.version}"
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": [
					"package.json",
					"package-lock.json",
				],
				"message": "refactor(release): ${nextRelease.version}\n\n${nextRelease.notes}"
			}
		],
		"@semantic-release/github"
	]
}
